{% extends "topic/base.html" %}
{% block title %}
邮件与私信
{% endblock %}
{% block main %}
<div id="main">
  <div id="sidebar">

  <div class="panel">

    <div class="header">
      <span class="col_fade">个人信息</span>
    </div>
    <div class="inner">
      <div class="user_card">
          <div>
            <a class="user_avatar" href="#">
              <img src="{{ user.user_image }}" title="{{ user.username }}">
            </a>
            <span class="user_name"><a class="dark" href="{{ url_for('index.user_detail', id=user.id) }}">{{ user.username }}</a></span>

            <div class="board clearfix">
              <div class="floor">
                <span class="big">积分: 0 </span>
              </div>
            </div>
            <div class="space clearfix"></div>
            <span class="signature">
                {{ user.signature }}
            </span>
          </div>
</div>
    </div>

  </div>

  <div class="panel">
    <div class="inner">
      <a href="{{ url_for('mail.new') }}" id="create_topic_btn">
        <span class="span-success">写邮件</span>
      </a>
    </div>
  </div>

  </div>


<div id="content">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href="https://cnodejs.org/">主页</a><span class="divider">/</span></li>
        <li class="active">新消息</li>
      </ul>
    </div>
    
    <div class="inner">
      <p>收到邮件</p>
        {% for r in receives %}
            {% if r.sender_user == '' %}
              <div>
                  {{ r.title }}
                <a href="{{ url_for('topic.detail', id=r.topic_id) }}">查看详情</a>
              </div>
            {% else %}
                <div>
                    你收到了一封来自 <a href="{{ url_for('index.user_detail', id=r.sender_id) }}">{{ r.sender_user }}</a> 的邮件
                    <a href = {{ url_for(".view", id = r.id) }}>查看详情</a>
                </div>
            {% endif %}
        {% endfor %}
      <p>发送的邮件</p>
        {% for s in sends%}
            {% if s.sender_user != '' %}
                <div>
                    <a href = {{ url_for(".view", id = s.id) }} > {{ s.title }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
  </div>

</div>

</div>
{% endblock %}